div.edit_box {
/*  position    : fixed !important;*/
  position    : absolute !important;
  top         : 9em;
  left        : 20em;
  background-color: #DDD;
  padding     : 1em;
  border      : 2px solid #BBB;
  opacity     : 0.7;
  min-width   : 300px;
}

div.edit_box.actived { opacity: 1 !important;}

div.edit_box > div.buttons {
  text-align    :right;
  margin-top    :1em;
}
div.edit_box > div.buttons > input[type="button"] {
  font-size   : 11.3pt !important;
}